{% extends 'dsbase.html' %}
{% load staticfiles %}
{% load account %}
{% load socialaccount %}


{% block main %}
    <div class="login-pannel">
        <div class="panel panel-default">
            <div class="panel-body">

                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        <input type="text"
                               class="form-control"
                               autofocus="autofocus"
                               placeholder="Username"
                               name="login"
                               maxlength="150"
                               required id="id_login">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password"
                               class="form-control"
                               id="exampleInputPassword1"
                               placeholder="Password"
                               name="password"
                               required id="id_password">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   name="remember"
                                   id="id_remember"> Remember Me
                        </label>
                    </div>
                    <button type="submit" class="btn btn-default btn-block">Sign in</button>
                    <div class="form-group">
                        <p class="text-center login-pannel-tip">社交帐号登录</p>
                        <div class="login-pannel-platform">
                            {% get_providers as socialaccount_providers %}
                            {% for provider in socialaccount_providers %}
                                {% if provider.id == 'weibo' %}
                                    <a href="{% provider_login_url provider.id %}"
                                       class="button">
                                        <img src="{% static 'common/images/icon-weibo.svg' %}">
                                    </a>
                                {% elif provider.id == 'github' %}
                                    <a href="{% provider_login_url provider.id %}"
                                       class="button">
                                        <img src="{% static 'common/images/icon-github.svg' %}">
                                    </a>
                                {% elif provider.id == 'google' %}
                                    <a href="{% provider_login_url provider.id %}"
                                       class="button">
                                        <img src="{% static 'common/images/icon-google.svg' %}">
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>



{% endblock main %}
