.blog-post-content {
  /* Comment */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Comment.Hashbang */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.PreprocFile */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Bin */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Affix */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Delimiter */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Function.Magic */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Name.Variable.Magic */
  /* Literal.Number.Integer.Long */ }
  .blog-post-content .hll {
    background-color: #ffffcc; }
  .blog-post-content .c {
    color: #408080;
    font-style: italic; }
  .blog-post-content .err {
    border: 1px solid #FF0000; }
  .blog-post-content .k {
    color: #008000;
    font-weight: bold; }
  .blog-post-content .o {
    color: #666666; }
  .blog-post-content .ch {
    color: #408080;
    font-style: italic; }
  .blog-post-content .cm {
    color: #408080;
    font-style: italic; }
  .blog-post-content .cp {
    color: #BC7A00; }
  .blog-post-content .cpf {
    color: #408080;
    font-style: italic; }
  .blog-post-content .c1 {
    color: #408080;
    font-style: italic; }
  .blog-post-content .cs {
    color: #408080;
    font-style: italic; }
  .blog-post-content .gd {
    color: #A00000; }
  .blog-post-content .ge {
    font-style: italic; }
  .blog-post-content .gr {
    color: #FF0000; }
  .blog-post-content .gh {
    color: #000080;
    font-weight: bold; }
  .blog-post-content .gi {
    color: #00A000; }
  .blog-post-content .go {
    color: #888888; }
  .blog-post-content .gp {
    color: #000080;
    font-weight: bold; }
  .blog-post-content .gs {
    font-weight: bold; }
  .blog-post-content .gu {
    color: #800080;
    font-weight: bold; }
  .blog-post-content .gt {
    color: #0044DD; }
  .blog-post-content .kc {
    color: #008000;
    font-weight: bold; }
  .blog-post-content .kd {
    color: #008000;
    font-weight: bold; }
  .blog-post-content .kn {
    color: #008000;
    font-weight: bold; }
  .blog-post-content .kp {
    color: #008000; }
  .blog-post-content .kr {
    color: #008000;
    font-weight: bold; }
  .blog-post-content .kt {
    color: #B00040; }
  .blog-post-content .m {
    color: #666666; }
  .blog-post-content .s {
    color: #BA2121; }
  .blog-post-content .na {
    color: #7D9029; }
  .blog-post-content .nb {
    color: #008000; }
  .blog-post-content .nc {
    color: #0000FF;
    font-weight: bold; }
  .blog-post-content .no {
    color: #880000; }
  .blog-post-content .nd {
    color: #AA22FF; }
  .blog-post-content .ni {
    color: #999999;
    font-weight: bold; }
  .blog-post-content .ne {
    color: #D2413A;
    font-weight: bold; }
  .blog-post-content .nf {
    color: #0000FF; }
  .blog-post-content .nl {
    color: #A0A000; }
  .blog-post-content .nn {
    color: #0000FF;
    font-weight: bold; }
  .blog-post-content .nt {
    color: #008000;
    font-weight: bold; }
  .blog-post-content .nv {
    color: #19177C; }
  .blog-post-content .ow {
    color: #AA22FF;
    font-weight: bold; }
  .blog-post-content .w {
    color: #bbbbbb; }
  .blog-post-content .mb {
    color: #666666; }
  .blog-post-content .mf {
    color: #666666; }
  .blog-post-content .mh {
    color: #666666; }
  .blog-post-content .mi {
    color: #666666; }
  .blog-post-content .mo {
    color: #666666; }
  .blog-post-content .sa {
    color: #BA2121; }
  .blog-post-content .sb {
    color: #BA2121; }
  .blog-post-content .sc {
    color: #BA2121; }
  .blog-post-content .dl {
    color: #BA2121; }
  .blog-post-content .sd {
    color: #BA2121;
    font-style: italic; }
  .blog-post-content .s2 {
    color: #BA2121; }
  .blog-post-content .se {
    color: #BB6622;
    font-weight: bold; }
  .blog-post-content .sh {
    color: #BA2121; }
  .blog-post-content .si {
    color: #BB6688;
    font-weight: bold; }
  .blog-post-content .sx {
    color: #008000; }
  .blog-post-content .sr {
    color: #BB6688; }
  .blog-post-content .s1 {
    color: #BA2121; }
  .blog-post-content .ss {
    color: #19177C; }
  .blog-post-content .bp {
    color: #008000; }
  .blog-post-content .fm {
    color: #0000FF; }
  .blog-post-content .vc {
    color: #19177C; }
  .blog-post-content .vg {
    color: #19177C; }
  .blog-post-content .vi {
    color: #19177C; }
  .blog-post-content .vm {
    color: #19177C; }
  .blog-post-content .il {
    color: #666666; }

/*# sourceMappingURL=default.css.map */
