{% extends 'dsbase.html' %}

{% load staticfiles %}
{% load account %}
{% load socialaccount %}
{% load comment_tags %}

{% block main %}
    <div class="wrapper clearfix">

			<div id="content" class="col col-8">

				<div class="blog-post blog-post-single">
                    {% if blog_detail.cover_image %}
                        <div class="blog-post-thumb">
						    <img src="{{ blog_detail.cover_image }}" alt="" />
					    </div><!-- .blog-post-thumb -->
                    {% endif %}


					<div class="blog-post-main clearfix">

						<div class="blog-post-info">

							<div class="blog-post-info-inner">

								<div class="blog-post-title">
									<h2>{{ blog_detail.title }}</h2>
								</div><!-- .blog-post-title -->

								<div class="blog-post-meta">
									{{ blog_detail.created_time }}
                                    <a href="../../../templates/archives.html">{{ blog_detail.category.name }}</a>
								</div><!-- .blog-post-meta -->

								<div class="blog-post-content">

									{{ blog_detail.body | safe }}

								</div><!-- .dslc-blog-post-content -->

                                {% if blog_detail.tags.all.count > 0 %}
                                    <div class="tags-footer-container">
                                        <div style="padding-top: 50px"></div>
                                        <div class="tags-cloud-widget">
                                            {% for tag in blog_detail.tags.all %}
                                                <a href="../../../templates/archives.html">{{ tag.name }}</a>
                                            {% endfor %}
                                        </div><!-- .tags-cloud-widget -->
                                    </div>
                                {% endif %}




							</div><!-- .blog-post-info-inner -->

						</div><!-- .blog-post-info -->

					</div><!-- .blog-post-main -->

				</div><!-- .blog-post -->

                <div id="leave-comment">

					<div class="white-wrap">
                        {% if user.is_active %}
                            <div class="section-heading">
                                <span class="section-heading-line"></span>
                                <span class="section-heading-text">Leave a comment</span>
                            </div><!-- .section-heading -->

                            <form action="{% url 'comment:post_comment' blog_detail.pk %}" method="post">
                                {% csrf_token %}
                                {{ blog_detail.form.text.errors }}
                                <div class="leave-comment-message">
                                    <textarea name="text" placeholder="COMMENT" aria-required="true"
                                              id="{{ blog_detail.form.id_for_textarea }}"></textarea>
                                </div><!-- .leave-comment-message -->

                                <div class="leave-comment-submit">
                                    <input name="submit" type="submit" id="submit" class="submit" value="COMMENT"/>
                                </div><!-- .leave-comment-submit -->
                            </form>
                        {% else %}
                            <div class="section-heading">
                                <span class="section-heading-line"></span>
                                <span class="section-heading-text">Login and leave message</span>
                            </div><!-- .section-heading -->
                            <div class="content-center">
                                {% get_providers as socialaccount_providers %}
                                {% for provider in socialaccount_providers %}
                                    {% if provider.id == 'weibo' %}
                                        <a href="{% provider_login_url provider.id %}" class="button orange">{{ provider.name }}</a>
                                    {% elif provider.id == 'github' %}
                                        <a href="{% provider_login_url provider.id %}" class="button black">{{ provider.name }}</a>
                                    {% elif provider.id == 'google' %}
                                        <a href="{% provider_login_url provider.id %}" class="button red">{{ provider.name }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}





					</div><!-- .white-wrap -->

				</div><!-- #leave-comment -->

				<div id="comments">

					<div class="white-wrap">

						<ol class="comments">

                            {% get_comments blog_detail as comments %}

                            {% for comment in comments %}
                                <li class="comment">
                                {% if comment.user.socialaccount_set.count > 0 %}
                                    <span class="comment-author-avatar"><img src="{{ comment.user.socialaccount_set.all.0.get_avatar_url }}" alt="" /></span>
                                {% else %}
                                    <div class="comment-author-avatar"><span>{{ comment.user.username | slice:':1' }}</span></div>
                                {% endif %}

								<div class="comment-inner">

									<div class="comment-info clearfix">

										<div class="comment-meta">
											<span class="comment-meta-author">{{ comment.user.username }}</span>
											<span class="comment-meta-date">{{ comment.created_time }}</span>
										</div><!-- .comment-meta -->

										<span class="comment-reply">
											<a rel="nofollow" href="#">Reply</a>
										</span>

									</div><!-- .comment-info -->

									<div class="comment-main">

										<p>{{ comment.text }}</p>

									</div><!-- .comment-main -->

								</div><!-- .comment-inner -->
							</li><!-- .comment -->

                            {% empty %}
                                暂无评论
                            {% endfor %}

						</ol>

					</div><!-- .white-wrap -->

				</div><!-- #comments -->



			</div><!-- #content -->

			{% include 'blogcatalog.html' %}

		</div><!-- .wrapper -->

{% endblock main %}


