{% extends 'base.html' %}

{% load staticfiles %}

{% block main %}
    <div class="wrapper clearfix">

			<div id="content" class="col col-8">

				<div class="blog-post blog-post-single">
                    {% if blog_detail.cover_image %}
                        <div class="blog-post-thumb">
						    <img src="{{ blog_detail.cover_image }}" alt="" />
					    </div><!-- .blog-post-thumb -->
                    {% endif %}


					<div class="blog-post-main clearfix">

						<div class="blog-post-info">

							<div class="blog-post-info-inner">

								<div class="blog-post-title">
									<h2>{{ blog_detail.title }}</h2>
								</div><!-- .blog-post-title -->

								<div class="blog-post-meta">
									{{ blog_detail.created_time }}
                                    <a href="../../../templates/archives.html">{{ blog_detail.category.name }}</a>
								</div><!-- .blog-post-meta -->

								<div class="blog-post-content">

									{{ blog_detail.body | safe }}

								</div><!-- .dslc-blog-post-content -->

                                {% if blog_detail.tags.all.count > 0 %}
                                    <div class="tags-footer-container">
                                        <div style="padding-top: 50px"></div>
                                        <div class="tags-cloud-widget">
                                            {% for tag in blog_detail.tags.all %}
                                                <a href="../../../templates/archives.html">{{ tag.name }}</a>
                                            {% endfor %}
                                        </div><!-- .tags-cloud-widget -->
                                    </div>
                                {% endif %}




							</div><!-- .blog-post-info-inner -->

						</div><!-- .blog-post-info -->

					</div><!-- .blog-post-main -->

				</div><!-- .blog-post -->



				<div id="comments">

					<div class="white-wrap">

						<ol class="comments">
                            {% for comment in blog_detail.comment_set.all %}
                                <li class="comment">

								<span class="comment-author-avatar"><img src="{{ blog_detail.author.userprofile.avatar_url }}" alt="" /></span>

								<div class="comment-inner">

									<div class="comment-info clearfix">

										<div class="comment-meta">
											<span class="comment-meta-author">{{ comment.user.name }}</span>
											<span class="comment-meta-date">{{ comment.created_time }}</span>
										</div><!-- .comment-meta -->

										<span class="comment-reply">
											<a rel="nofollow" href="#">Reply</a>
										</span>

									</div><!-- .comment-info -->

									<div class="comment-main">

										<p>{{ comment.text }}</p>

									</div><!-- .comment-main -->

								</div><!-- .comment-inner -->
							</li><!-- .comment -->

                            {% empty %}
                                暂无评论
                            {% endfor %}

						</ol>

					</div><!-- .white-wrap -->

				</div><!-- #comments -->

				<div id="leave-comment">

					<div class="white-wrap">

						<div class="section-heading">
							<span class="section-heading-line"></span>
							<span class="section-heading-text">Leave a comment</span>
						</div><!-- .section-heading -->

						<form action="{% url 'comment:post_comment' blog_detail.pk %}" method="post">
                            {% csrf_token %}
                            {{ blog_detail.form.text.errors }}
							<div class="leave-comment-message">
								<textarea name="text" placeholder="COMMENT" aria-required="true" id="{{ blog_detail.form.id_for_textarea }}"></textarea>
							</div><!-- .leave-comment-message -->

							<div class="leave-comment-submit">
								<input name="submit" type="submit" id="submit" class="submit" value="COMMENT" />
							</div><!-- .leave-comment-submit -->
						</form>

					</div><!-- .white-wrap -->

				</div><!-- #leave-comment -->

			</div><!-- #content -->

			{% include 'blogcatalog.html' %}

		</div><!-- .wrapper -->

{% endblock main %}


