{#<header id="header">#}
{#    #}
{#    <div id="header-top">#}
{#        <div class="wrapper clearfix">#}
{#            <nav id="navigation">#}
{#                <ul class="menu">#}
{#                    <li><a href="{% url 'blog:blog-index' %}">Blog</a></li>#}
{#                    <li><a href="#">About Me</a></li>#}
{#                    <li><a href="#">Contact</a></li>#}
{#                </ul><!-- .menu -->#}
{#            </nav><!-- #navigation -->#}
{#        </div><!-- .wrapper -->#}
{#    </div><!-- #header-top -->#}
{#</header><!-- #header -->#}
<div class="container-fluid header">
    <div class="row">
        <div class="col-md-9 col-xs-10">
            <ul class="menu">
                <li><a href="{% url 'blog:blog-index' %}">Blog</a></li>
                <li><a href="#">About Me</a></li>
                <li><a href="#">Contact</a></li>
            </ul><!-- .menu -->
        </div>
        <div class="col-md-3 col-xs-2">
            {% if user.is_active %}
                <div id="user-info">
                    <div class="user-info-avatar">
                        {% if user.socialaccount_set.count > 0 %}
                            <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}">
                        {% else %}
                            <span>{{ user.username | slice:':1' | upper }}</span>
                        {% endif %}
                    </div>
                    <div class="user-info-name">
                        <a>{{ user.username }}</a>
                    </div>
                </div>
            {% else %}

            {% endif %}
        </div>
    </div>
</div>


{% if comment.user.socialaccount_set.count > 0 %}

{% else %}
    <div class="comment-author-avatar"><span>{{ comment.user.username | slice:':1' | upper }}</span></div>
{% endif %}






