<header id="header">
		<div id="header-top">
			<div class="wrapper clearfix">
				<nav id="navigation">
					<ul class="menu">
{#						<li><a href="{% url 'blog:blog-index' %}">Home</a></li>#}
						<li><a href="{% url 'blog:blog-index' %}">Blog</a></li>
						<li><a href="#">About Me</a></li>
                        <li><a href="#">Contact</a></li>
					</ul><!-- .menu -->
				</nav><!-- #navigation -->
				<div id="header-search">
					<div class="header-search-inner">
						<form method="get" action="../../../templates/search.html">
							<input type="text" name="s" placeholder="Search and hit enter" />
						</form>
						<span class="header-search-icon"><span class="fa fa-search"></span></span>
					</div><!-- .search-form-wrapper -->
				</div><!-- #header-search -->
				<div id="header-social">
					<a href="#" target="_blank" class="fa fa-twitter"></a>
					<a href="#" target="_blank" class="fa fa-facebook"></a>
					<a href="#" target="_blank" class="fa fa-youtube-play"></a>
					<a href="#" target="_blank" class="fa fa-vimeo"></a>
					<a href="#" target="_blank" class="fa fa-tumblr"></a>
				</div><!-- #header-social -->

			</div><!-- .wrapper -->

		</div><!-- #header-top -->

{#		<div id="header-main">#}
{#			<div class="wrapper">#}
{#				<a href="#">#}
{#					<img src="{% static 'common/images/logo.png' %}"/>#}
{#				</a>#}
{#			</div>#}
{#		</div>#}
	</header><!-- #header -->