{% load staticfiles %}
{% load blog_tags %}
<div id="sidebar" class="col col-4 col-last">
    {% block extension %}

    {% endblock extension %}


    {% get_recent_posts as recent_post_list %}
    {% if recent_post_list.count > 0 %}
        <div class="widget">
            <h3 class="widget-title">
                <span class="widget-title-line"></span>
                <span class="widget-title-text">Recent Posts</span>
            </h3>
            <div class="widget-content">
                <div class="recent-posts-widget">
                    {% for blog in recent_post_list %}
                        <div class="recent-posts-widget-post">
                            {% if blog.cover_image %}
                                <div class="recent-posts-widget-thumb">
                                    <a href="{{ blog.get_absolute_url }}">
                                        <img src="{{ blog.cover_image }}" alt=""/>
                                    </a>
                                </div><!-- .recent-posts-widget-thumb -->
                            {% endif %}
                            <div class="recent-posts-widget-main">
                                <div class="recent-posts-widget-date">{{ blog.created_time }}</div>
                                <div class="recent-posts-widget-title">
                                    <a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a>
                                </div>
                                <div class="recent-posts-widget-category">
                                    <a href="{% url 'blog:category-list' blog.category.pk %}">{{ blog.category.name }}</a>
                                </div>
                            </div><!-- .recent-posts-widget-main -->
                        </div><!-- .recent-posts-widget-post -->
                    {% endfor %}
                </div><!-- .recent-posts-widget -->

            </div><!-- .widget-content -->
        </div><!-- .widget -->
    {% endif %}


    {% get_categorys as category_list %}
    {% if category_list.count > 0 %}
        <div class="widget">
            <h3 class="widget-title">
                <span class="widget-title-line"></span>
                <span class="widget-title-text">Categorys</span>
            </h3>
            <div class="widget-content">
                <div class="tags-cloud-widget">
                    {% for category in category_list %}
                        <a href="{% url 'blog:category-list' category.pk %}">{{ category.name }}</a>
                    {% endfor %}
                </div><!-- .tags-cloud-widget -->
            </div><!-- .widget-content -->
        </div>
    {% endif %}


    {% get_tags as tag_list %}
    {% if tag_list.count > 0 %}
        <div class="widget">

            <h3 class="widget-title">
                <span class="widget-title-line"></span>
                <span class="widget-title-text">Tags</span>
            </h3>

            <div class="widget-content">
                <div class="tags-cloud-widget">
                    {% for tag in tag_list %}
                        <a href="{% url 'blog:tag-list' tag.pk %}">{{ tag.name }}</a>
                    {% endfor %}
                </div><!-- .tags-cloud-widget -->
            </div><!-- .widget-content -->

        </div><!-- .widget -->
    {% endif %}


</div><!-- #sidebar -->